.container {
  margin-left: auto;
  margin-right: auto;
  padding-right: 10px;
  padding-left: 10px;

  @include mobileS {
    width: 320px;
  }

  @include mobileL {
    width: 575px;
  }

  @include tablet {
    width: 768px;
    padding-right: 20px;
    padding-left: 20px;
  }

  @include laptop {
    width: 974px;
  }

  @include desktop {
    width: 1378px;
  }
}

.section {
  @include mobileS {
    padding-bottom: 80px;
  }

  @include mobileL {
    padding-bottom: 120px;
  }

  @include tablet {
    padding-bottom: 100px;
  }

  @include laptop {
    padding-bottom: 130px;
  }

  @include desktop {
    padding-bottom: 180px;
  }
  &:last-child {
    @include mobileS {
      padding-bottom: 55px;
    }

    @include desktop {
      padding-bottom: 80px;
    }
  }
}