.logo {
    font-weight: 400;
font-size: 30px;
line-height: 1.5;



color: #939393;
}
.logo-black {
    color: #000000;
}


.header {
    padding-top: 30px;
    padding-bottom: 30px;
  
    @include desktop {
      padding-top: 55px;
      padding-bottom: 55px;
    }
  }
  
  .header__menu {
    @include laptop {
      display: flex;
      align-items: center;
    }
  }
  
  .header__mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    @include laptop {
      margin-right: 167px;
    }
    @include desktop {
      margin-right: 236px;
    }
  }
//   menu
.mobile-menu {
    position: fixed;
    top: 100px;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    padding-left: 15px;
    padding-top: 20px;
  
    background-color: inherit;
  
    transform: translateX(30%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
    @include mobileL {
      transform: translateX(50%);
    }
  
    @include tablet {
      padding-left: 35px;
      transform: translateX(60%);
    }
  
    @include laptop {
      position: static;
      transform: translateX(0);
      display: flex;
      align-items: center;
      padding-left: 0;
      padding-top: 0;
    }
  }
  

  
  .mobile-menu__button {
    width: 35px;
    height: 35px;
    background-image: url(../images/.svg);
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
  
    @include laptop {
      display: none;
    }
  }
  
  .mobile-menu__icon {
    fill: currentColor;
  }

//   nav
.nav {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 30px;
    
    @include laptop {
      flex-direction: row;
      gap: 30px;
      margin-bottom: 0;
    }
  
    @include desktop {
      gap: 50px;
    }
  }
  
  .nav__link {
    position: relative;
    color: $black;
    font-weight: 500;
    font-size: 20px;
    &:hover,
    &:focus {
                color: greenyellow;
        
                outline: transparent;
    &--current {
        color: yellow;}
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
        
            width: 100%;
            height: 4px;
        
            background-color: GrEEN;
            border-radius: 2px;
            
            }
            }

    @include laptop {
      font-size: 16px;
      padding-top: 20px;
      padding-bottom: 20px;
    }
  
    @include desktop {
      font-size: 20px;
    }
}

 
    .button-header {
        margin-left: 0;
        width: 100%;
        height: 50px;
        font-size: 18px;
        border-radius: 5px;
        color: #000000;
        background-color: transparent;
        border: 2px solid $black;
        @include mobileS {
          width: 160px;
        }
      
        @include laptop {
          margin-left: auto;
          margin-right: 0;
        }
      
        @include desktop {
          width: 312px;
          height: 70px;
          font-size: 20px;
        }
    }