.hero {
    text-align: center;
&__title {
    font-size: 24px;
color: black;
margin-bottom: 20px;

}
&__uptitle {
    margin-bottom: 33px;
}
&__button {
    color: 
    #FFFFFF;
background: #263238;
border-radius: 5px;
width: 100%;
height: 60px;
}
&::before {
    content: "";
    display: flex;
    flex-shrink: 0;
    width: 299px;
    height: 299px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../images/lear.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
}
